@media screen and (max-width: 620px){

  main {
    width: 100%;
  }
    
  .turn {
    width: 100%;
    padding-top: 45px;
    position: relative;
  }
  
  .waitTurn {
    position: absolute;
    transform: translateY(-50%);
    width: 100%;
    height: 100%;
  }

  .result { 
    position: absolute;
    transform: translateY(-50%);
    width: 100%;
    height: 100%;
  }

  .randomships {   
    font-size: 0.7rem;
   }
  
   .board{
    grid-column: 2/3;   /* esta linea se asocia al grid del container */
    grid-row: 2/3;     /* esta linea se asocia al grid del container */
    background-color: #454d5f;
    height:100%;
    width: 100%;
    display: flex;
    flex-direction:row;
    padding-left: 10px;
    padding-top: 10px;
    flex-wrap: wrap;
    justify-content: flex-start;
    }
  
  .board-human{
    max-width: 220px;
    max-height: 249px;
  }
  
  .board-computer{
    max-width: 220px;
    max-height: 249px;
  }
  
  .scoreBoard{
    width: 85px;
    height: auto;
  }
  
  .resetButton {
   position: absolute;
   top: 25px;
   left: 15px;
   height: 25px;
   padding: 1px 15px 1px 15px;
  }
  
  .addships {
    padding: 1px 15px 1px 15px;
  }

  .board {
    position: relative;
    padding-top: 30px;
    }

.attackMessage {
    position: absolute;
    transform: translateY(-100%);
    width: 75% ;
    }
  
}
  
@media screen and (max-width: 620px){
	.cell{
	   display: flex;
	   justify-content: center;
	   align-items: center;
	   text-align: center;
	   font-size: 0.7rem;
	   border: 1px solid grey;
	   background: lightyellow;
	   cursor: pointer;
	   max-width: 17px;
	   max-height: 19.2px;
	 }

	.cellShipAdded {
		background-color: #5be734; 
		color: #207d0e;
		font-size: 4px;
		width: 17px;
	    height: 19.2px;
	}
	.cellMissed {
		background-color: #effefb; 
		color: #087b7d;
		font-size: 4px;
		width: 17px;
	    height: 19.2px;
	}
  
	.cellHit {
		background-color: #fea173; 
		color: #9b1b11;
		font-size: 5px;
		width: 17px;
	    height: 19.2px;
	}
  
	.cellSunk {
		background-color: black; 
		color: white;
		font-size: 5px;
		width: 17px;
	    height: 19.2px;
	}

	.addShipButton {     
		font-size: 0.4rem;
		width: 70px; height: 85px;
		text-wrap: nowrap;
	}

	picture {
		width: 50px;
	}

	.error.active {
		height: 60px;
	  }
   }
