@media screen and (max-width: 620px){

  main {
    width: 100%;
  }
    
  .turn {
    width: 100%;
    padding-top: 45px;
    position: relative;
  }
 /* 
  .result { 
    position: absolute;
    transform: translate(50%,-50%);
    width: 100%;
    height: 100%;
  } */

  .randomships {   
    font-size: 0.7rem;
   }
  
   .board{
    grid-column: 2/3;   /* esta linea se asocia al grid del container */
    grid-row: 2/3;     /* esta linea se asocia al grid del container */
    background-color: #454d5f;
    height:100%;
    width: 100%;
    display: flex;
    flex-direction:row;
    padding-left: 10px;
    padding-top: 10px;
    flex-wrap: wrap;
    justify-content: flex-start;
    }
  
  .board-human{
    max-width: 220px;
    max-height: 249px;
  }
  
  .board-computer{
    max-width: 220px;
    max-height: 249px;
  }
  
  .scoreBoard{
    width: 85px;
    height: auto;
  }
  
  .resetButton {
   position: absolute;
   top: 25px;
   left: 15px;
   height: 25px;
   padding: 1px 15px 1px 15px;
  }
  
  .addships {
    padding: 1px 15px 1px 15px;
  }

  .board {
    position: relative;
    padding-top: 30px;
    }

.attackMessage {
    position: absolute;
    transform: translateY(-100%);
    width: 75% ;
    }
  
}
  
@media screen and (max-width: 620px){

  [class^='cell']{
	  font-size: 4px;
    padding: 1px;
	}

	.addShipButton {     
		font-size: 0.6rem;
    line-height: 1rem;
		width: 70px; height: 85px;
		text-wrap: wrap;
    padding-left: 5px; padding-top: 5px; padding-right: 5px; 
	  padding-bottom: 5px;
	}

	picture {
		width: 50px;
	}

	.error.active {
		height: 90%;
    font-size: 0.7rem;
	  }

   }
