/* cells - buttons - images*/
body {
  min-width: 360px;
  min-height: 100vh;
}

main {
  background-color: #353a45;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.7rem;
  border: 1px solid grey;
  background-color: lightyellow;
  cursor: pointer;
  max-width: 100%;
}

.cellShipAdded {
  background-color: #5be734;
  border-color: #84f363;
  color: #207d0e;
}

.cellMissed {
  background-color: #bdf1e8;
  border-color: #effefb;
  color: #0b6461;
}

.cellHit {
  background-color: #fea173;
  border-color: #ffc8a9;
  color: #9b1b11;
}

.cellSunk {
  background-color: black;
  border-color: #3d3d3d;
  color: white;
}

[class^="cell"]:hover {
  animation: opacity 1.5s both;
}

[class^="cell"]:active {
  background-color: #545e75;
}

@keyframes opacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.headCell {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
  text-align: center;
  font-size: 1rem;
  border: 1px solid grey;
  color: lightyellow;
  background: #353a45;
  cursor: pointer;
}

/* buttons */
.hide {
  display: none;
  opacity: 0%;
}

.addShipButton {
  color: black;
  line-height: 2rem;
  padding-left: 10px;
  padding-top: 15px;
  padding-right: 10px;
  padding-bottom: 15px;
  border-radius: 10px;
  font-family: Georgia, serif;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  background-image: linear-gradient(
    to right,
    rgb(105, 117, 142) 0%,
    rgb(214, 217, 225) 100%
  );
  box-shadow: #edeef1 2px 2px 4px 2px;
  border: 2px solid #353945;
  display: inline-block;

  transition: transform 250ms ease-in-out;
}
.addShipButton:hover {
  background: #545e75;
  color: white;
  transform: scale(1.05);
}
.addShipButton:active {
  background: #454d5f;
  color: white;
}

.resetButton {
  color: #012e32;
  line-height: 13px;
  padding: 15px;
  border-radius: 10px;
  font-family: Georgia, serif;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  background-image: linear-gradient(to right, #b9fef6 0%, #09c3c1 100%);
  box-shadow: #edeef1 2px 2px 4px 2px;
  border: 2px solid #353945;
  display: inline-block;
  transform: translateY(-100%);
  transition: transform 250ms ease-in-out;
}
.resetButton:hover {
  background: #545e75;
  color: white;
  transform: scale(1.05);
  transform: translateY(-100%);
}
.resetButton:active {
  background: #454d5f;
  color: white;
}

/* score elements */

.scoreTitle {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #3c4350;
  font-weight: bold;
  font-size: 0.9rem;
}

.shipFloat {
  background-image: url("./img/ship.jpg");
  background-size: cover;
  background-position: center;
}

.shipSunk {
  background-image: url("./img/ship-sunk.jpg");
  background-size: cover;
  background-position: center;
  border-bottom: 2px solid #09c3c1;
}

/* This is the style of our error messages */
.error {
  width: 100%;
  height: 100%;
  padding: 0;
  font-size: 1rem;
  color: white;
  background-color: #900;
  border-radius: 0 0 5px 5px;
  box-sizing: border-box;
}

.error.active {
  padding: 0.3em;
}

/* display base */

.container {
  display: grid;
  grid-template-columns: 0.5fr 6fr 2fr;
  grid-template-rows: 1fr 6fr 1fr;
  max-height: 100%;
}

.turn {
  grid-row: 1 / 2; /* esta linea se asocia al grid del container */
  grid-column: 2 / 4; /* esta linea se asocia al grid del container */
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 3fr 1fr;
  grid-template-rows: 1fr;
}

.turnDiv {
  grid-column: 1 / 2; /* grid turn*/
  grid-row: 1 / 2;
  font-size: 1.7rem;
  color: lightyellow;
}

.turn {
  position: relative;
}

.display {
  padding: 0;
  z-index: 1;
  display: flex;
  place-items: center;
  width: 100px;
  height: 100px;
  font-size: 1rem;
  color: white;
  background-color: #900;
  border-radius: 0 0 5px 5px;
  box-sizing: border-box;
}

.gameOver {
  padding: 0;
  z-index: 1;
  display: flex;
  place-items: center;
  width: 190px;
  height: 150px;
  font-size: 2rem;
  color: white;
  background-color: #545e75;
  border-radius: 5px 5px 5px 5px;
  box-sizing: border-box;
}

.addships {
  grid-column: 2 / 3; /* grid turn*/
  grid-row: 1 / 2;
  padding-top: 1%;
}

.randomships {
  /* grid turn*/
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  padding-top: 1%;
  align-items: center;
  color: lightyellow;
  display: flex;
  justify-content: flex-start;
  gap: 3px;
}

.result {
  /* grid turn*/
  grid-row: 1/2;
  grid-column: 4/5;
}

.resultMessage {
  font-size: 1.7rem;
  font-weight: 600;
  color: lightyellow;
}

.gridForAdd {
  grid-column-start: 4; /* esta linea se asocia al grid del board */
  grid-row-start: 2; /* esta linea se asocia al grid del board */
  padding-left: 2%;
  box-sizing: content-box;
  height: 400px;
  width: 120%;
  font-size: 10px;
  overflow-y: scroll;
}

.formInput {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 5fr 1fr 1fr;
}

.formRadio {
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: #b2b9c7;
  line-height: 2;
}

.submitButton {
  grid-column: 2/3;
  grid-row: 1/2;
}

.board-human {
  position: relative; /* for headers purpose */

  grid-column: 2/3; /* esta linea se asocia al grid del board */
  grid-row: 2/3; /* esta linea se asocia al grid del board */
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(13, 1fr);
  border: 5px solid black;
  gap: 2px;
  padding: 2px;
  background-color: #b2b9c7;
}

.board-computer {
  position: relative;

  grid-column: 4/5; /* esta linea se asocia al grid del board */
  grid-row: 2/3; /* esta linea se asocia al grid del board */
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(13, 1fr);
  border: 5px solid black;
  gap: 2px;
  padding: 2px;
  background-color: #b2b9c7;
}

.columnsHead {
  position: absolute; /* in relation parent board-human*/
  transform: translateY(-100%);
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.rowsHead {
  position: absolute; /* in relation parent board-human*/
  transform: translateX(-100%);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.headComputer {
  position: absolute; /* in relation parent board-computer*/
  transform: translateY(-100%);
  color: lightyellow;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.attackMessage {
  grid-row: 1/2;
  grid-column: 2/3;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  background-color: #353a45;
}

.scoreBoard {
  position: absolute;
  inset: 0px;
  max-width: 115px;
  height: 525px;
  margin-top: 3%;
  margin-left: auto;
  margin-right: 1%;
  background-color: #edeef1;
  border-left: 3px solid #f6f7f9;
  border-right: 3px solid #f6f7f9;
  border-radius: 4px;

  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 5px;
}

.score {
  height: 95%;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: repeat(8, 1fr);
}
